/* Components */
.top-navbar{
  background: var(--primary-color);
}
.top-navbar .nav-item .nav-link, .navbar-brand {
  color: whitesmoke !important;
}
.top-navbar .nav-item .nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.scroll-top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-top-btn:hover {
  background-color: var(--primary-color);
}



/* Campaigns page */
.campaigns-flex {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: calc(100vh - 100px); /* Mantém a altura da tela menos a navbar/topo */
  margin-top: 2rem; 
  overflow: hidden;
}
.search-tool{
  border: 1px solid black;
  border-radius: 8px;
}
.campaigns-list {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 1.5rem;
  padding-right: 0;
  padding-bottom: 1rem; 
  padding-top: 0;
  padding-left: 0;

  width: 100%; 
}


.campaign-container {
  padding: 12px;
  border: 1.5px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: 100%; 
  max-width: 700px; 
}


.campaign-content {
  display: grid;
  grid-template-columns: 170px 1fr; /* Largura fixa para imagem, restante para info */
  gap: 20px;
  align-items: start;
}


.campaign-image img {
  width: 170px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}


.campaign-info {
  flex-grow: 1;
}

.campaign-info h4 {
  margin: 0 0 4px;
  font-weight: bold;
}

.campaign-info p {
  margin: 2px 0;
}

.campaign-info h4, p {
  color: var(--primary-color) !important;
}

.donation-progress .progress {
  height: 12px;
}

.progress-bar {
  background-color: var(--secondary-color) !important;
}

.filtering-btn{
  background-color: var(--secondary-color) !important;
  border: none !important;
}

.filtering-btn:hover {
  background-color: var(--secondary-color-hover) !important;
}

.filtering-btn:active {
  background-color: var(--secondary-color-active) !important;
}