:root {
  --primary-color: #0F373F;
  --secondary-color: #376A63;
  --secondary-color-hover: #34645e;
  --secondary-color-active: #2c5550;
  --piggy-icon-color: #D8A7B1;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

